<div>
	{{input type="email" value=email_content placeholder="your-email@example.org"}}
</div>

<div>
	{{input type="text" value=tweet_content placeholder="Share your toughs"}}
</div>

    {{#if isAdding}}
	    
    {{/if}}
